$font: system-ui, Avenir, Helvetica, Arial, sans-serif;
$color-principal: #5866ff;
$color-secondary: #1A2BE8;
$color-third: #4b59f1;
$color-third-variante: #3c4bf0;
$color-variante: #dfe2ff;
$color-light: #fbfbff;
$color-dark: '';
$color-shadow: #454da542;
$color-highlight: #f84242;
$color-highlight-variante: #e64444;